{% extends 'base.html' %}

{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

    {% for notlari_listele in object_list %}
        <div class="card mt-3 w-75 mx-auto" style="background-color: #ECECEC;">
            <div class="card-header">
                <a href='{% url "not_detay" notlarim.pk%}' class="btn btn-secondary">{{notlarimview.baslik}}</a>
            </div>
            <div class="card-body">
            <p class="card-text">{{notlarimview.icerik}}</p>
            </div>
        </div>

    {% endfor%}

{% endblock content %}